.milestonePickerChoicesPrints {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 1.5rem;
}
.milestonePickerChoicesFrame {
  width: var(--milestone-print-width);
  max-width: 100%;
}
